<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="creators.css">
    <link rel="stylesheet" href="Header-Footer.css">

    <title>Страница автора</title>
</head>

<body>
    
    <div id="vue">
        <header>
            <div class="header_content">
                <img class="logotype" src="images/BlogLogo.png" alt="logotype">
    
                <nav class="flex-center">
                    <img class="flex-center" src="images/Profile.svg" alt="image_profile">
    
                    <div class="menu_links">
    
                        <a class="UserAccountLogin" href="#">@UserAccountLogin</a>
                        <button class="white_button">Новая запись</button>
                        <a class="menu_link white_border_link" href="#">Выйти</a>
    
                    </div>
                </nav>
            </div>
        </header>
    
        <div class="workspace">
    
                <div class="publications_content">

                    <div class = "creators_space">
                        <h1 class="creators_title">Все публикации</h1>

                        <a class="blue_border_link">@ALL</a>

                        <p class ="creators_par">Подписчиков: <span class="count_users">0</span></p> 
                        <p>Подписан: <span class="count_users">0</span></p>

                        <p class="creators_par">Записей: <span id="count_users" class="count_users">6</span></p>

                        <div class = "creators_space">
                            <h3>Введите айди автора</h3>
                            <input class = "creators_space" type="text" v-model="author">
                        </div>

                    </div>
                    <div class="publications">
    
                        <div class="posts">
                            <div v-for="it in filteredList" class ="post">
                                <img v-bind:src="it.image" class="post_img">
                                <h2 class="post_title">{{it.title}}</h2>
                                <p class="post_text">{{it.intro}}</p>
                                <div class="post_categories">
                                    <div v-for="label in it.labels" class="post_category" v-bind:data-categories="label">{{label}}</div>
                                </div>
                            </div>
                        </div>
    
                        <button class="load_more">Загрузить ещё 6</button>
                    </div>
                </div>
        </div>
    
        <footer>
            <div class="workspace">
                <div class="footer_content">
                    <div class="flex-center">
                        <a href="https://github.com/Green-tech591/Labs_Web" class="menu_link blue_border_link">Об авторе</a>
                        <a href="#" class="menu_link blue_border_link">Технологии</a>
                    </div>
    
                    <p class="copyright">© Blog, 2022</p>
                </div>
            </div>
        </footer>
    </div>

    <script src="vue.min.js"></script>
    <script src="data.js"></script>
    <script src="list_C.js"></script>
    <script src="creators.js"></script>
</body>

</html>