/* Для всего тела */
body {
    background-color: #F3F3F3;
}

/* Обнуление отступов для h1 h2 h3 */
h1, h2, h3 {
    padding: 0;
    margin: 0;
}

label {
    padding: 0;
    margin: 0; 
}

/* Заголовок */
.title {
    margin-top: 5%;
}

/* Всё что в публикациях */
.publications_content {
    display: flex;
    justify-content: space-between;
}

/* Сами публикации в целом */ 
.publications {
    width: 100%;
    max-width: 820px;
    margin-top: 40px;
}

/* Только посты  */ 
.posts {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
}

/* 1 пост */
.post {
    position: relative;

    width: 100%;
    max-width: 393px;
    height: 392px;

    box-shadow: 0px 4px 12px rgba(98, 76, 144, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

/* Картинка поста */
.post_img {
    width: 100%;
    border-radius: 5px;
}

/* Заголовок поста */ 
.post_title {
    margin-top: 20px;
    margin-left: 5%;
    font-weight: 700;
}

/* Текст поста */
.post_text {
    
    margin-top: 4px;
    margin-left: 5%;
}

/* Блок категорий под постом */
.post_categories {
    display: flex;
    position: absolute;
    bottom: 0;

    margin-left: 5%;
    margin-bottom: 5%;
}

/* 1 категория под постом */
.post_category {
    margin-left: 2%;

    padding: 4px 12px;
    border: 1px solid #b9b0ca;
    border-radius: 4px;
}

/* Кнопка загрузить больше */
.load_more {
    width: 100%;
    color: #624C90;
    margin-top: 20px;
    padding: 21px 0;
    border: 4px solid #624C90;
    border-radius: 4px;
}

/* Блок рубрик */
.list_navigation {
    width: 20%;
}

/* Заголовок блока рубрик */ 
.list_navigation_title {
    font-size: 25px;
    font-weight: 700;
}

/* Всё что в блоке рубрик */
.list_navigation_content {
    margin-top: 5%;
}

/* Кнопка категории */
.categories_button {
    display: block;

    font-size: 20px;

    margin-top: 17px;
}

/* Для ссылок зануление */
a {
    text-decoration: none;
}

/* Зануление кнопок */
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    cursor: pointer;
}

