*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

li{
    list-style-type: none;
    text-decoration: none;
}

.marginBottom_3percent {
    margin-bottom: 3%;
}

#main {
    margin: 40px;
}


.title {
    font-size: 60px;
}

.header {
    height: 20vh;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation_item {
    margin-left: 20px;

    font-size: 20px;
}

.navigation_item a:hover {
    text-decoration: none;
}

.navigation_item:first-child {
    margin-left: 0;
}

.items_catalog {
    display: flex;
    flex-wrap: wrap; 
}

.item_catalog {
    width: 33.3%;


    text-align: center;
}


.item_catalog:nth-child(n + 4) {
    margin-top: 3%;
}

.item__text {
    font-size: 18px;
    font-weight: bold;
}

.items_promo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item_promo {
    width: 25%;

    text-align: center;
}

.item_promo:nth-child(n + 5) {
    margin-top: 3%;
}

.item_promo_img {
    width: 50%;
}

.item_mainCatalog_img {
    width: 50%;
}

@media screen and (max-width: 1280px) {

    #main {
        margin: 12px;
    }

    .title {
        text-align: center;
    }

    .item_catalog {
        width: 50%;
    }

    .item_catalog:nth-child(n + 3) {
        margin-top: 3%;
    }

    .item_promo {
        width: 50%;
    }

    .item_promo:nth-child(n + 3) {
        margin-top: 3%;
    }

}

@media screen and (max-width: 640px) {

    .header_content {
        display: inline;
    }

    .navigation {
        margin-top: 3%;
    }

    .header__top {
        text-align: center;
    }

    .item_catalog {
        width: 100%;
    }

    .item_catalog:hover img {
        opacity: 40%;
    }

    .item_promo:hover img {
        opacity: 40%;
    }

    .item_catalog {
        margin-top: 3%;
    }

}
@media screen and (max-width: 500px) {

    .title {
        font-size: 40px;
    }

    .item_promo {
        margin-top: 3%;

        width: 100%;
    }

}