.user_title {
    width: 120px;
    margin-bottom: 20px;
}

.subscribers p:nth-child(2) {
    margin-top: 5px;
}

#select_authors {
    padding: 5px 0px 5px 0px;

    color: #112244;

    border: 1px solid rgba(17, 34, 68, 0.5);
    border-radius: 5px;
}

.count_users {
    font-weight: bold;
}