body {
    background-color: rgb(231, 231, 231);
}

/* Заголовок */
.post_title {
    margin-top: 5%;
    font-weight: 800;
    font-family: Arial;
}

/* Всё поле поста */
.post_space {
    margin-top: 5%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-sizing: border-box;
}

/* Надпись в форме */ 
.post_label {
    margin-top: 20px;
    color: rgba(17, 34, 68, 0.5);
    font-weight: 500;
    font-size: 14px;
}

/* Поле ввода */
.post_input {
    padding: 24px 0px 24px 24px;
    margin-top: 4px;
    border: 1px solid rgba(17, 34, 68, 0.5);
    border-radius: 8px;
    width: 100%;
    height: 70px;
}

/* Для основного текста */
.text {
    height: 200px;
}

/* Кнопка добавления */
.button_add {
    display: block;
    width: 362px;
    padding: 20px 40px 20px 70px;
    border: 1px solid #624C90;
    border-radius: 8px;
    text-align: center;
}

/* Нужно для пробела */
.space {
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

/* Текст в кнопке */
.text_button {
    font-size: 17px;
    color: #624C90;
}

/* Для добавляемого фото */
#img_file {
    margin-left: 40px;
    width: 90px;
    height: 70px;
}

/* Фиолетовая кнопка */ 
.purple_button {
    margin-top: 40px;
    font-size: 15px;
    color: #FFF;
    font-weight: 550;
    font-family: Arial;
    background-color: #6244a1;
    border-radius: 8px;
    width: 192px;
    height: 60px;
}

/* Костыльное добавление фото (хз как по другому) */
#add_img {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    z-index: 5;
}


